#about {
  text-align: center;
  margin: 2rem 0;
  padding: 2rem;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-icons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}

.about-icon {
  background-color: #ffdb58;
  border: 1px solid #003366;
  border-radius: 5px;
  padding: 1.5rem;
  margin: 0;
  width: calc(33.33% - 1rem);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.about-icon:hover {
  transform: scale(1.05);
}

.about-icon i {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.about-icon h3 {
  color: #003366;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.about-icon p {
  color: #333;
  font-size: 1.2rem;
  line-height: 1.5;
}