#packages {
  text-align: center;
  margin: 2rem 0;
  display: block;
}

.package-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}

.package-card {
  background-color: #ffdb58; 
  border: 1px solid #003366; 
  border-radius: 5px;
  padding: 1rem;
  margin: 0;
  width: calc(33.33% - 1rem);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.package-card:hover {
  transform: scale(1.05);
}

.package-card i {
  font-size: 2rem; 
}

.package-card h3 {
  color: #003366; 
  margin-bottom: 0.5rem;
}

.package-card p {
  color: #333; 
  margin-bottom: 1rem;
}

.package-card button {
  background-color: #003366; /* Dark blue background */
  color: white; /* White text color */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  padding: 0.5rem 1rem; /* Padding for the button */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

.package-card button:hover {
  background-color: #00509e; /* Lighter blue on hover */
}
