#about {
  text-align: center;
  margin: 2rem 0;
}

.about-icons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.about-icon {
  background-color: #f8f9fa; /* Light background for icons */
  border: 1px solid #dee2e6; /* Light border */
  border-radius: 5px;
  padding: 1rem;
  width: 30%; /* Adjust width as needed */
  margin: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.about-icon h3 {
  color: #007bff; /* Primary color */
}

.about-icon p {
  color: #333; /* Dark text */
}

.about-icon i {
  font-size: 2em; /* Adjust icon size */
  margin-bottom: 0.5rem;
}
