body {
  color: black; /* Set default text color to black */
}

/* Existing styles */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #f8f9fa; /* Light background */
}



h1 {
  margin: 0;
}

section {
  margin: 2rem 0;
  padding: 1rem;
  border: 1px solid #dee2e6; /* Light border */
  border-radius: 5px;
}

h2 {
  color: #007bff; /* Primary color */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 0.5rem 0;
}
 
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffdb58; /* Light background */
  padding: 1rem;
}

.logo {
  height: 6em; /* Adjust height as needed */
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 2rem; /* Space between nav items */
}

nav a {
  text-decoration: none;
  color: white; /* Change to white for visibility */
  font-weight: bold;
}

nav a:hover {
  color: #007bff; /* Change color on hover */
}
