:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--dark-blue);
  background-color: var(--white);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--white);
  color: var(--dark-blue);
}

footer {
  margin: 0;
  padding: 0;
  background-color: var(--primary-blue);
  color: var(--white);
}
